<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">	
	<head>
		<title>Список инкассаторов</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	
	<body>
	
	
		<header>
			<h1 align="center">Инкассаторы</h1>
		</header>
		
		
		<nav>
			<table align="center" border="1">
				<tr>
					<td><a href="http://localhost:8080/atms">Список банкоматов</a></td>
					<td><a href="http://localhost:8080/paths">Список путей</a></td>
				</tr>
			</table>
		</nav>
		
		
		<article>
		<h1 align="left">Список инкассаторов:</h1> <br />
		<section>
            <table border="1">
                <tr>
                    <td>id</td>
                </tr>
                <tr>
                    <td th:text="'some text'">...</td>
                </tr>
            </table>
		</section>
		<aside>
		</aside>
		</article>	
		
		<footer>
            <hr color="black">
		</footer>
		
	</body>
	
</html>