<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<meta charset="utf8">
	
	
	<head>
		<title>Пути</title>
	</head>
	
	
	<body>
	
	
		<header>
			<h1 align="center">Пути</h1>
		</header>
		
		
		<nav>
			<table align="center" border="1">
				<tr>
					<td><a href="http://localhost:8080/atms">Список банкоматов</a></td>
					<td><a href="http://localhost:8080/collectors">Список инкассаторов</a></td>
					<td><a href="http://localhost:8080/maps">Список карт</a></td>
				</tr>
			</table>
		</nav>
		
		
		<article>
		<h1 align="left">Список путей:</h1> <br />
		<section>
            <table border="1">
                <tr>
                    <td>id</td>
                    <td>day</td>
                    <td>collector</td>
                    <td>atm_from</td>
                    <td>atm_to</td>
                </tr>
                <tr th:each = "Route : ${routes}">
                    <td th:utext="${Route.id}">...</td>
                    <td th:utext="${Route.day}">...</td>
                    <td th:utext="${Route.collector}">...</td>
                    <td th:utext="${Route.atmFrom}">...</td>
                    <td th:utext="${Route.atmTo}">...</td>
                </tr>
            </table>
		</section>
		<aside>
		</aside>
		</article>

		<footer>
		<hr color="black">
		</footer>
		
	</body>
	
</html>